Package: qmail-uids-gids
Source: netqmail
Version: 1.06-6
Architecture: all
Maintainer: Gerrit Pape <pape@smarden.org>
Installed-Size: 61
Depends: passwd, adduser
Section: mail
Priority: extra
Description: user ids and group ids for qmail
 This package is mandatory for building and running the qmail package.
