Package: qmail
Source: netqmail
Version: 1.06-6
Architecture: amd64
Maintainer: Gerrit Pape <pape@smarden.org>
Installed-Size: 1565
Depends: libc6 (>= 2.2.5), libssl1.0.0 (>= 1.0.0), qmail-uids-gids (>> 1.06)
Recommends: qmail-run (>= 2.0.0)
Suggests: fastforward, dot-forward, qmail-tools
Section: mail
Priority: extra
Description: a secure, reliable, efficient, simple message transfer agent
 qmail is meant as a replacement for the entire sendmail-binmail system on
 typical Internet-connected UNIX hosts.
 .
 This package is based on the netqmail distribution of qmail, put
 together by a motley krewe of qmail contributors (see the README).
 It is derived from Daniel Bernstein's qmail-1.03 plus bug fixes,
 a few feature enhancements, and some documentation.
